{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Kirish{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <h3 class="mb-4 text-center">Kirish</h3>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <button type="submit" class="btn btn-primary">Kirish</button>
                    <span>Hisobingiz yo'qmi? <a href="{% url 'signup' %}" class="link-primary">Ro'yxatdan o'ting</a></span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
